{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="row mt-5">
        <div class="col-md-4">
            {% if error is defined %}
                <span class="text-danger">{{ error }}</span>
                {% elseif message is defined %}
                <span class="text-success">{{ message }}</span>
                <script>const myTimeout = setTimeout(window.location.href ="/", 5000);</script>
            {% endif %}
        </div>
        <div class="col-md-4">
            <form method="post"  action="{{ path('app_update_password', {'token': app.request.attributes.get('token')}) }}">
                <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>
                <label for="inputPassword">New Password</label>
                <input type="password" name="new_password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <label for="inputPassword">Confirm Password</label>
                <input type="password" name="confirm_password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                <div class="mt-2">
                    <button class="btn btn-lg btn-primary" type="submit">
                        Reset Password
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
